<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.note.manage.mapper.NotebookMapper">

	<insert id="addNotebook" parameterType="Notebook">
		INSERT INTO `test`.`tb_notebook` (
		`id`,
		`notebookname`,
		`status`,
		`belongto`,
		`createtime`,
		`updatetime`
		)
		VALUES
		(
		#{id},
		#{noteBookName},
		#{status},
		#{belongto},
		NOW(),
		NOW()
		);
	</insert>

	<select id="getNotebooksByUserId" resultType="Notebook">
		select
		`id`,
		`notebookname`,
		`status`,
		`belongto`,
		`createtime`,
		`updatetime`
		from
		`test`.`tb_notebook`
		where (`belongto` = #{belongto});
	</select>

	<update id="updateNotebook" parameterType="Notebook">
		UPDATE `test`.`tb_notebook`
		<set>
			<if test="noteBookName!=null">
				`notebookname` = #{noteBookName},
			</if>
			<if test="status!=null">
				`status` = #{status},
			</if>
			`updatetime` = NOW(),
		</set>
		WHERE
		(`id` = #{id});
	</update>

</mapper>