<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.note.manage.mapper.UserMapper">

	<insert id="addUser" useGeneratedKeys="true" keyProperty="id"
		keyColumn="id" parameterType="User">
		INSERT INTO `test`.`tb_user` (
		`id`,
		`username`,
		`password`,
		`phone`,
		`eml`,
		`isVIP`,
		`createtime`,
		`updatetime`
		)
		VALUES
		(
		NULL,
		#{userName},
		#{password},
		#{phone},
		#{eml},
		#{isVIP},
		NOW(),
		NOW()
		);
	</insert>

	<select id="getUser" resultType="User">
		select
		`id`,
		`username`,
		`password`,
		`phone`,
		`eml`,
		`isVIP`,
		`createtime`,
		`updatetime`
		from
		`test`.`tb_user`
		where (`id` = #{id});
	</select>

	<update id="updateUser" parameterType="User">
		UPDATE `test`.`tb_user`
		<set>
			<if test="password!=null">
				`password` = #{password},
			</if>
			<if test="phone!=null">
				`phone` = #{phone},
			</if>
			<if test="eml!=null">
				`eml` = #{eml},
			</if>
			<if test="isVIP!=null">
				`isVIP` = #{isVIP},
			</if>
			`updatetime` = NOW(),
		</set>
		WHERE
		(`id` = #{id});
	</update>

</mapper>